[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
commitizen = "*"

[packages]
markdown = "*"
pelican = "*"
bs4 = "*"
python-gettext = "*"
ghp-import = "*"
typogrify = "*"
invoke = "*"
markdown-del-ins = "*"

[requires]
python_version = "3.7"
